
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.map{
  height: 600px;
  width: 50%;
  float: right;
}

.store-info{
  height: 600px;
  width: 50%;
  float: left;
}
.map-header{
  background-color:#C02827;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 15%;
  position: top;
}

.pin{
  color: #C02827;
  height: 50px;
  width: auto;
}
