.item-button{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-bottom: 20px;
}

.top-level-item-render{
    background-color: white;
}
.non-clickable{
    pointer-events: none;
}
.item-button-selected{
    background-color: red;
}
.centered-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
}
.item-id{
    padding-right: 20px;
}
.item-price{
    margin-left: auto;
    padding-right: 10px;
}
.red{
    color: red;
    background-color: red;
}