.item-button{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 700px;
    margin-bottom: 20px;
    border: black;
    border-radius: 40px;
    padding: 3%;
    color: black !important;
}

.item-button:hover{
    background-color: rgb(177, 177, 177);
    /* border-radius: 10px; */
    padding: 5%;
    color: black;
}

.top-level-item-render{
    background-color: white;
}
.non-clickable{
    pointer-events: none;
}
.item-button-selected{
    background-color: #000000 !important;
    color: white !important;
    border-color: rgb(78, 78, 78);
    border-width: 10px;
    
}
.centered-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
    color: black;
}
.item-id{
    padding-right: 20px;
}
.item-price{
    margin-left: auto;
    padding-right: 10px;
}
.red{
    color: red;
    background-color: red;
}